/* default style */
/* castom css properties */
:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --accent-color: #4d5ae5;
  --white-color: #ffffff;
  --cloud-color: #f4f4fd;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}
/* end default style */

/* button про кнопки в вебинар 3 2:09 */
.button {
  color: var(--white-color);
  background-color: var(--accent-color);
}
/* end button */

/* start header */
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

/* end header */
